[Unit]
Description=change bg by feh every 30s

[Service]
Type=simple

ExecStart=/usr/bin/feh --recursive --bg-fill --randomize /home/lixu/.config/wallpaper
